<%= form_for(resource, as: resource_name, url: password_path(resource_name), 
    html: { method: :post }, namespace:"recovery") do |f| %>
  
  <div name="header" class="form_title">  
    Password recovery
  </div> 


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
  </div>

  <a class="login-link" >return to log-in page</a>  

  <div name="footer" class="d-flex flex-row justify-content-center align-items-center login_footer">  
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary recovery_submit" %>              
  </div>
  
<% end %>