 <% if @customers.any? %>

  <table class="table table-striped table-bordered table-responsive-lg" style="margin-top:20px">

    <thead>
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Activity type</th>
        <th>Email</th>
        <th>Controls</th>
      </tr>
    </thead>  

    <tbody>
      <%= render @customers %>    
    </table>

  </table>

<% end %>





