// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.overlay-new-contact {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  min-width: 200px;
  max-width: 400px;
  position: relative;
}