// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.invalid-information {
  color: red;
  margin: 0px;
  padding: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


#error_explanation h2{
  font-size: 15pt;
  color:red;
  }

